body {
    font-family: Roboto, 'Arial';
    background-color: #FBCBC0;
    color: #4D4D59;
    text-align: center;
    margin: auto;
}

a {
    color: rgb(62, 106, 172);
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
}

#title {
    padding: 20px 40px 40px 40px;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to left top, #fec1af, #ffb7a6, #ffad9e, #ffa396, #ff9990);
}

.complete {
    background-color: white;
    border: 1px solid #FF9990;
    margin: 20px 200px 20px 200px;
}

.section {
    border: 1px solid #4D4D59;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.fas {
    font-size: 18px;
}
.fa-play {
    color:#4D4D59;
}


.fa-heart {
    color:  rgb(55, 122, 199);
}

.red {
    color: rgb(158, 41, 41);
}


.fa-times-circle {
    color: rgb(158, 41, 41);
}

.recommended {
    background-color: lightgray;
    color: black;
    display: none;
}